body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fceff1;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 5px;
}

.match-button {
    padding: 8px 20px;
    background-color: #ff3366;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
}

.match-button:hover {
    background-color: #e6004c;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff3366;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    justify-content: right;
    margin-bottom: 10px;
    align-items: flex-end;
}